* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width: 100%;
}

.column {
  display: inline-block;
  width: calc(30% - 5px);
  background-color: #f4f4f4;
  border-radius: 4px;
  margin: 5px;
  padding: 10px 5px;
}

.column input {
  width: 50px;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 25px;
}

#play-btn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  margin-top: 10px;
}
